In [ ]:
# prompt: print("hii")

print("hii")

hii

In [ ]:
# integer
# integer is immutable
print(1,2,3,4)

1 2 3 4

In [ ]:
# flote : immutable
print(3.2,33.2)

3.2 33.2

In [ ]:
# a string immutabl
# \n is used for next text line
a = 3
a = 4
print("my name is shambhu","\n","i am a student","&my roll no is:",a)
# above code having issue of extra space so format string should used
print(f"my name is shambhu\ni am a student & my roll no is:a{a}")
b = 10/3
print(f"{b}")

my name is shambhu
 i am a student &my roll no is: 4
my name is shambhu
i am a student & my roll no is:a4
3.3333333333333335

In [ ]:
# list : mutable,can be heatrogenous,indixing
l = [12,"shambhu","@",3.4]
# print(l)
# indexing
# access first element of list
print(l[0])
# access second element of list
print(l[1])
# access third element of list
print(l[2])
# access last element of  list
print(l[-1])
# checking the for loop for range
for i in range(4):
  print(i)
# print list in desired way
for i in range(len(l)):
  print(f"the element number {i+1} of given list is: {l[i]}")

  l[0] = ",my mail id is:"
  l[-1] = "shambhu@gmail.com"
  print(l)

12
shambhu
@
3.4
0
1
2
3
the element number 1 of given list is: 12
[',my mail id is:', 'shambhu', '@', 'shambhu@gmail.com']
the element number 2 of given list is: shambhu
[',my mail id is:', 'shambhu', '@', 'shambhu@gmail.com']
the element number 3 of given list is: @
[',my mail id is:', 'shambhu', '@', 'shambhu@gmail.com']
the element number 4 of given list is: shambhu@gmail.com
[',my mail id is:', 'shambhu', '@', 'shambhu@gmail.com']

In [ ]:
# touple
T = (7,"shambhu","@",3.14)
print(T[-1])
# T[0] = 5 this  assingment cant be done
print(T)

3.14
(7, 'shambhu', '@', 3.14)

In [ ]:

# set : mutable , hetrogenous,indexing
S ={1,2,"a","roy",3.14}
# S[-1]= 20
print(s)

{1, 2, 3.14, 'a', 'roy'}

In [ ]:
l_zeal = [2,5,76,3,9,6,23,65]
print(f"length of list is {len(l_zeal)}")
# creation of list for set
s_unique_zeal = set(l_zeal)
print(f"set creation for given set is: {len(s_unique_zeal)}")
# creation of set for list
l_unique_zeal = list(s_unique_zeal)
print("list creation for given set {len(l_unique_zeal)}")
print(f"the modifaction list has (len(l_unique_zeal)) elemens which has no duplicat & and the shorted list is (l_unique_zeal)")

length of list is 8
set creation for given set is: 8
list creation for given set {len(l_unique_zeal)}
the modifaction list has (len(l_unique_zeal)) elemens which has no duplicat & and the shorted list is (l_unique_zeal)

In [ ]:
# add or remove element from set
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)
my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [ ]:
# add or remove element in list
l_empty = [1,2,3]
l_other = [5,6,7]
l_extend = [8,9,10]
l_empty.append([11,12,13])
print(f"list after adding '4' is {l_empty}")

list after adding '4' is [1, 2, 3, [11, 12, 13]]

In [ ]:
s_first = {1,2,3,4,5,6,7,8,9}
s_second = {2,4,6,8,0,1}
print(s_first.symmetric_difference(s_second))
print(s_first.difference(s_second))
print(s_second.difference(s_first))
print(s_first.intersection(s_second))
print(s_first.union(s_second))
print(s_first.union(s_second))

{0, 3, 5, 7, 9}
{9, 3, 5, 7}
{0}
{1, 2, 4, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}